@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

$font-family-sans-serif: 'Rubik', sans-serif !default;
$font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;

$font-family-cursive: 'Caveat', cursive;

//colors copied from hadithi
$black: #000000;
$gray-dark: #333333;

$text-primary: $black;
$text-secondary: $gray-dark;

$orange-light: #f2ceb9;
$orange: #ef6603;
$orange-hover: #fc8129;
$antique: #ddd0c9;

$green: #95be5b;

$white: #ffffff;
$white2: #f8f8f8;

$atmosphere: #f4f1f1;

$gray: #cccccc;
$gray2: #bababa;
$gray3: #777777;
$gray4: #444444;

//mpishi colors
$lightgray: #e8e8e8;
$steelblue: #3a3c4b;
$darkgray: #212529;;
$lightbrown: #96796f;
$tan: #bea38d;
$mediumbrown: #5c4c42;
$browngold: #885f21;
$gold: #b4935d;
$brown: #3b2424;
$darkbrown: #331f1f;
$darkviolet: #661734;
$midviolet: #9e2351;
$violet: #bb2a60;
$lavender: #a75db4;
$mediumviolet: #ffe7ef;
$lightviolet: #fff3f7;

$lightwood: #f6e1c5;
$darkwood: #9f826d;

$cream: #fff7eb;
$mediumcream: #fee8bb;

$lightred: #c97457;
$greenish: #56b949;
$green: #1fb14d;

.bg-lightwood {
  background-color: $lightwood;
}

.bg-darkwood {
  background-color: $darkwood;
}

.bg-lightbrown{
  background-color: $lightbrown;
}

.bg-mediumbrown {
  background-color: $mediumbrown;
}

.bg-brown {
  background-color: $brown;
}



// util

.border-radius-15 {
  border-radius: 15px;
}

.border-radius-33 {
  border-radius: 33px;
}
