@import '../../styles/variables';

@mixin pattern-overlay-checker($size) {
  &::after {
    position: absolute;
    pointer-events: none;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.05;
    background-image: repeating-linear-gradient(45deg, #000000 25%, transparent 25%, transparent 75%, #000000 75%, #000000),
    repeating-linear-gradient(45deg, #000000 25%, #e5e5f7 25%, #e5e5f7 75%, #000000 75%, #000000);
    background-position: 0 0, $size*1px $size*1px;
    background-size: $size*2*1px $size*2*1px;
  }
}

@mixin pattern-overlay-slant {
  &::after {
    position: absolute;
    pointer-events: none;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.05;
    background-image: repeating-linear-gradient(45deg, #000000 25%, transparent 25%, transparent 75%, #000000 75%, #000000),
    repeating-linear-gradient(45deg, #000000 25%, #e5e5f7 25%, #e5e5f7 75%, #000000 75%, #000000);
  }
}